<footer>
    <div class="footer-top">
        <div class="line"></div>
        <p>PizzaShop &copy; {{ "now"|date('Y') }} </p>
        <a href="#" class="text-muted">Mentions légales</a> |
        <a href="#" class="text-muted">Politique de confidentialité</a> |
        <a href="#" class="text-muted">Contact</a>
    </div>
    <div class="footer-bottom">
        <p>Projet Symfony &copy; PizzaShop {{ "now"|date('Y') }} - By Fannie, Serife, Halima & Caroline</p>
    </div>
    
</footer>