<footer>

    {# #################### PREMIERE PARTIE #################### #}
    <div class="row container m-5 border-top">

        {# #################### COPY #################### #}
        <div class="col-sm-6 text-center">
            <p class="col-6 mt-5">PizzaShop <small class="text-muted">&copy; {{ "now"|date('Y') }}</small> </p>
        </div>

        {# #################### MENTIONS #################### #}
        <div class="col-sm-6 mt-5 text-center">
                <a href="#" class="text-muted">Mentions légales</a> |
                 <a href="#" class="text-muted">Politique de confidentialité</a> |
                 <a href="#" class="text-muted">Contact</a>
        </div>
        
    </div>

    {# #################### SECONDE PARTIE #################### #}
    <div class="container-fluid bg-dark mt-5">
        <p class="text-center text-white p-2 m-0">
            Projet Symfony &copy; PizzaShop {{ "now"|date('Y') }} - By Fannie, Serife, Halima & Caroline
        </p>
    </div>

</footer>