{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

   <a href="{{ path('app_admin_pizza_create')}}">Ajouter pizza</a>

   {% for pizza in pizzas %}

    {{ pizza.name}} <br>

     <a href="app_admin_pizza_update"> modifier</a>

    
        
       
   {% endfor %}

{% endblock %}