<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil !{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# FONT AWESOME #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        {# GOOGLE FONT #}
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Raleway:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
        {# STYLE #}
        {% block stylesheets %}
            <link rel="stylesheet" href="/style.css">
        {% endblock %}
        
        
        

    </head>
    <body>

        {# NAV #}
        {% include "/include/_nav.html.twig" %}

        {% block body %}{% endblock %}

        {# FOOTER #}
        {% include "/include/_footer.html.twig" %}

        {% block javascripts %}
            <script src="/app.js"></script>
        {% endblock %}
    </body>
</html>
